**Print “Hello, Mark!”.**

In [1]:
print("Hello,Mark")

Hello,Mark

** Take user input for name and print a greeting.**

In [5]:
a=input('enter the name')
print("Hello",a)

enter the nameMark
Hello Mark

**Swap values of two variables without using a third variable.**

In [10]:
a=5
b=10
a,b =b,a
print("a =", a)
print("b =", b)

a = 10
b = 5

In [22]:
#Using Arithmetic Operations
a=5
b=10
a=a+b  # a=15 (5+10)
b=a-b  #b=5  (15-10)
a=a-b  # 15-5
print("a=" ,a)
print("b=",b)

a= 10
b= 5

Check if a number is even or odd.

In [19]:
a=int(input('enter the  check number'))
if a% 2==0:
  print('even')
else:
  print('odd')

enter the  check number67
odd

swap the two varibale using 3rd variable

In [23]:
a=5
b=6
c=a #c=5
a=b #a=b
b=c #b=5
print(a)
print(b)

6
5

**Find the factorial of a number using a loop.**

In [32]:
num=int(input('enter the value here'))
fact=1
if num < 0:
  print('factorial does not exist ')
if num == 0:
  print(" factorial of 0 is 1")
if num > 0:
  for i in range(1,num+1):
    fact=fact*i

print(fact)

enter the value here4
24