 Create a list of 10 numbers. Print only even numbers.

In [1]:
a=[1,2,3,4,5,6,7,8,9,10]
for i in a:
  if i%2==0:
    print(i)

2
4
6
8
10

In [13]:
import random
nums = random.sample(range(1,20), 10)   # repeat nahi hoga
nums

[4, 1, 12, 11, 18, 15, 5, 17, 13, 10]

In [14]:
for i in nums:
  if i% 2==0:
    print (i)

4
12
18
10

 Find the sum and average of numbers in a list.

In [21]:
a=[2,1,4,6,8,7]
total=0
for i in a:
  total+=i
print(total)
print(total%len(a))

28
4

In [31]:
a = [2,1,4,6,8,7]
tp = sum(a)
print("sum",tp)
print("avg",tp%len(a))

sum 28
avg 4

Find the largest and smallest number in a list without using

In [38]:
#with the help of max min
a=[2,4,6]
mx=max(a)
mn=min(a)
print(mn)
print(mx)

2
6

In [53]:
a=[2,4,6,1]
mx=a[0]
mn=a[0]
for i in a:
  if i>mx:
    mx=i
for i in a:
  if i<mn:
    mn=i
print(mn)
print(mx)

1
6

find unique value and duplicate value

In [64]:

a=[1,2,3,2,4,5,1]
uni=[]
dup=[]
for i in a:
  if i not in uni:
    uni.append(i)
  elif i not in dup:
    dup.append(i)
print(uni)
print(dup)

[1, 2, 3, 4, 5]
[2, 1]

In [70]:
#this is the sort code to find the unnique or remove duplicate value
a = [2,4,6,1,4,2]
a_unique = list(set(a))
print(a_unique)

[1, 2, 4, 6]