Merge two lists and sort them.

In [27]:
#1st method
a=[9,2,4,3]
b=[5,7,1,6]
c=a+b
print(c)
c.sort()
c

[9, 2, 4, 3, 5, 7, 1, 6]

[1, 2, 3, 4, 5, 6, 7, 9]

In [25]:
#2nd method
a=[9,2,4,3]
b=[5,7,1,6]
for i in b:
  a.append(i)
a.sort()
a

[1, 2, 3, 4, 5, 6, 7, 9]

In [28]:
#3rd method
a=[9,2,4,3]
b=[5,7,1,6]
c=sorted(a+b)
c

[1, 2, 3, 4, 5, 6, 7, 9]

 Count how many times a certain element appears in a list

In [43]:
a=[7,4,7,2,4,3,5,4]
count=0
for i in a:
  if i==4:
    count=count+1

print(count)

3

Create a list of squares of numbers from 1 to 20

In [49]:
square=[]
a=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
for i in a:
  square.append(i*i)
print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

Print all odd numbers between 1 and 100.

In [65]:
prime=[]
for i in range(1,101):
  if i%2 !=0:
    prime.append(i)
print(prime)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [67]:
for i in range(1,11):
  if i %2 !=0:
    print(i)

1
3
5
7
9